<%- include('./partials/header') %> <%- include('./partials/cdn') %>
<div class="container-fluid roboto">
    <div class="row">
        <%- include('partials/admin-nav') %>
        <div class="col-sm min-vh-100">
            <h2 class="text-center my-5">List of all your Clients.</h2>
            <table class="table fs-4">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Number</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% clients.forEach(client => { %>
                      <tr>
                        <td>
                            <a href="/admin/clients/client/<%= client.uuid %>">
                              <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                </svg>
                              </span>
                      </a>
                        </td>
                          <td><%= client.name %></td>
                          <td><%= client.email %></td>
                          <td><%= client.mobileNumber %></td>
                      </tr>
                      <% }) %>
                  </tbody>
            </table>


<!-- Add new client button-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add New User
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add New User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Add new client Form start -->
            <form class="row g-3 mt-1" action="/admin/clients/new-client" method="POST">
                <div class="col-12">
                  <label for="" class="visually-hidden">Name</label>
                  <input type="text" name="name" class="form-control fs-4" id="" placeholder="Name" />
                </div>
                <div class="col-12">
                  <label for="" class="visually-hidden">Email</label>
                  <input
                    type="email"
                    class="form-control fs-4"
                    id=""
                    name="email"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="col-12">
                  <label for="" class="visually-hidden">Mobile number</label>
                  <input
                    type="tel"
                    class="form-control fs-4"
                    id=""
                    name="number"
                    placeholder="Mobile Number"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add client</button>
                </div>
            </form>
            <!-- form end -->
        </div>
      </div>
    </div>
  </div>
        </div>
    </body>
    </html>