<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>

<div class="container">
  <!-- start -->
  <h1 class="text-center title-font mt-5">Radical Inner Transformation</h1>
  <p class="text-center mt-5 fs-3 px-2 px-sm-5">
    My time tested and proven system will radically tranform your life as it
    works from the "inside out".
  </p>
  <!-- photo -->
  <div id="brochure">
    <div class="img_brochure mt-5">
      <img src="brochure/1.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/2.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/3.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/4.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/5.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/6.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/7.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/8.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/9.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/10.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/11.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/12.png" class="mx-auto d-block" alt="" />  
    </div>
    <div class="img_brochure mt-5">
      <img src="brochure/13.png" class="mx-auto d-block" alt="" />  
    </div>
  </div>
  
  <!-- <div class="d-grid gap-2 col-10 col-lg-4 mx-auto mt-5 mb-5">
    <a
      class="btn btn-bg fw-bold fs-4"
      href="https://drive.google.com/file/d/11DjCs-wKd_5DfVvqf-OiX2ZOF9Fkax9B/view?usp=sharing"
      role="button"
      >Download Brochure</a
    >
  </div> -->
  <!-- intro -->
  <p class="text-center mt-5 fs-3 px-2 px-sm-5">
    To get started contact me at <b>neerugconsults@gmail.com</b> for a free
    Personality Assessment that will open the door to you learning more about
    yourself…thereafter we can schedule a call to discuss the results.
  </p>
  <div class="mt-5">
    <a
      class="d-block btn btn-bg fw-bold btn-lg btn-block mx-auto fs-4"
      href="/register"
      role="button"
      style="max-width: fit-content"
      >Personality Assessment</a
    >
  </div>
  </div>
  <div class="hero-bg mt-4 py-3">
    <div class="container">
  <div class="row">
    <!-- quote -->
    <div class="mt-5 text-center">
      <img
        src="/images/butterfly.svg"
        width="100%"
        class="butterfly-img"
        alt=""
      />
      <h3 class="quote fs-1 text-center title-font">
        Live a life of purpose and realize your true potential
      </h3>
    </div>
  </div>
  </div>
</div>
<div class="container mt-5"><%- include('./partials/contactform') %></div>

<script src="./assets/js/coaching.js"></script>
<%- include('./partials/footer') %>
