<%- include('./partials/header') %> <%- include('./partials/cdn') %> <%-
include('./partials/nav') %>

<div class="container">
  <h1 class="text-center mt-5">Masterminds</h1>

  <p class="text-center mt-5 fs-3 px-2 px-sm-5">
    In the coming weeks I will be launching a few Masterminds. A Mastermind is
    formed by a small group of like-minded persons who would like to come
    together in a structured way to network, learn from each other and support
    each other’s journey of transformation. A Mastermind is based on the
    principle that together we can impact each other with knowledge, tools and
    experiences that may individually take us a longer time to learn and grow.
    It is my intention to announce several such Masterminds over the coming
    year.
  </p>

      <div class="text-center my-5">
        <img
          src="images/glass-ceiling.png"
          width="92%"
          class="rounded"
          alt=""
        />
      </div></div>
      <div class="">
        <div class="hero-bg my-5 py-5 mx-auto">
          <div class="container">
            <h1 class="my-3 fw-bold px-2 px-sm-5">Beyond the Glass Ceiling</h1>
            <p class="fs-3 px-2 px-sm-5">
              This Mastermind is created specifically for professional women….aspiring for the next level in their career but finding
              challenges along the way….This Mastermind will inspire, give tools
              for unleashing your full potential and give you meaningful
              strategies that have worked for many of us… <br /><br />
              This Mastermind is only open by invitation. In case you are
              interested to find out if you qualify to be part of this elite and
              exceptional Group, please connect with me at …………and we can set up
              a call to take this forward….
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5"><%- include('./partials/contactform') %></div>
<%- include('./partials/footer') %>
